@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  word-break: normal;
  font-family: Rubik;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #adb5bd;
  width: 100%;
  height: 120px;
}
header #title,
nav {
  margin-left: 50px;
  margin-right: 50px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
nav li {
  text-decoration: none;
  margin: 35px;
  list-style: none;
  text-decoration: none;
  transition: 0.1s all;
}
li:hover {
  transform: scale(1.2);
  transition: 0.1s all;
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
}
#shop {
  background-color: #eee;
}

#shop #product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
 .card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  width: 550px;
  height: 275px;
  background-color: white;
}
 .card img {
  width: 200px;
  height: 200px;
  padding: 25px;
}

 .card .infoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.infoContainer button {
  position: absolute;
  height: 40px;
  border-radius: 15px;
  bottom: 0;
  margin-bottom: 15px;
  width: 90%;
  font-size: 18px;
  background-color: #fd611a;
  transition: all 0.1s;
}

.infoContainer button:hover{
  background-color: #ff5101;
  transform: scale(1.01);
  transition: all 0.1s;

}
.infoContainer .title {
  margin-top: 25px;
  font-size: 24px;
}
.infoContainer .price {
  color: #4576bc;
  font-size: 20px;
  margin-top: 15px;
}

#singleProduct{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
#singleProduct .card{
  width: 100vh;
  height: 50vh;
  border: 3px solid black;
}
#singleProduct .card img{
  width: 35vh;
  height: 40vh;
}

#singleProduct .card .infoContainer{
  border: 3px solid black;

  display: flex;
  justify-content:start;
}
#singleProduct .title{
  font-size: 28px;
  margin-left: 15px;
}
#singleProduct .price{
  margin-left: 15px;
  margin-top: 35px;
  font-size: 26px;
}
#singleProduct .description{
  margin: 25px;
  margin-left: 15px;
  font-size: 24px;
  font-weight: 400;
}
#singleProduct .addBtn{
  margin: 25px;
  margin-left: 50px;
  margin-right: 50px;
  height: 8%;
  
}
